$Bg: #121212;
$Primary_text: #000000;
$Secondary_text: #c9c7c7;
$very_small_text: #121212;
$white: white;
$p_btnText: black;
$s_btnText_hover: white;
$links: #f22e26;
$links_hover: #9c0f0a;
$links1: #2196f3;
$links1_hover: #0061b1;
$links2: #ff9800;
$links2_hover: #bd7202;

$primary: "Bree Serif", serif;
$scondary: "Aleo", serif;
$logo: "Bona Nova", serif;

$h1: 64px;
$h6: 20px;
$h5: 24px;
$subtitle1: 16px;
$body1: 16px;
$subtitle2: 12px;
$body2: 12px;
$button: 16px;
